body{
    background-image: url(/assets/bg-vector.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
}

.blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: -99;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
}
/* header */
.navbar{
    background-color: #DAC0A3;
    font-family: 'Inter', sans-serif;
    color: #F8F0E5;
    margin-bottom: 5rem;
}

.title h1{
    text-align: center;
    color: #102C57;
    font-family: 'Poppins', sans-serif;
}

.sub-title{
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #95B2DE;
}

/* forms */

#createForms{
    background-color: #DAC0A3;
    margin: 40px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    font-family: 'Inter', sans-serif;
    color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #c9c6c6;
    border-radius: 10px;
  }

  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #102C57;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #95B2DE;
  }

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #EADBC8;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #102C57;
  }

  button{
    border: none;
    padding: 10px;
    background-color: #95B2DE;
    color: white;
    border-radius: 10px ;
  }

  .trademark{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: small;
  }