body{
    margin:0px;
    padding:0px;
    background-image: url(/assets/bg-vector.png);
    background-size: cover;
    overflow: auto;
}

/* header */
.navbar{
    background-color: #DAC0A3;
    font-family: 'Inter', sans-serif;
    color: #F8F0E5;
}



/* content */

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
}

.main-title2{
    color: #1B427D;
}

.content-header{
    padding: 5.5rem;
}

.sub-content-header{
    text-align:right ;
}


.join{
    border: none;
    background-color: #1B427D;
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    width: 40%;
    border-radius: 2rem;
    color:white;
    font-size: larger;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      cursor: pointer;
}

.floating {
	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 5px;
	margin-top: 5px;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

.join:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}